# Exclude individual_pdfs folder
individual_pdfs/

# Data/inputs/outputs
input/
*.xlsx
*.docx
emp_data*.json
TODO.md
app_streamlit.py

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.env
node_modules/
*.log
